/*

Colors

Nav: #007aae
Nav hover: #0095d4

Searchdivs: #4d7e99
Buttons: same as nav?
button hover: same as nav

*/

/* GLOBAL */
html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: "Open Sans", "Helvetica", sans-serif;
	color: black;
}

/* ########################################## Main divs ########################################## */

#mainContainer {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}

#header {
	background: url(../img/top_cropped.jpg) no-repeat 0 0;
	height: 254px;
	position: relative; /* Needed for h1 absolute positioning */
}

#header h1 {
	position: absolute;
	left: 316px;
	top: 30px;
	height: 51px;
	padding-top: 20px;
	color: white;
}

#rightDiv, #leftDiv {
	box-sizing: border-box;
	float: left;
	height: 100%;
	min-height: 850px;
	padding: 20px;
	color: black;
}

#rightDiv {
	width: 70%;
	text-align: left;
}

#leftDiv {
	width: 30%;
	background-color: #ffefdf;
	text-align: left;
}

#footer {
	padding: 10px 10px 10px 10px;
	background-color: #007aae;
}

/* ########################################## Navigation ########################################## */
nav ul li a {
	color: #ffffff;
	text-decoration: none;
	background-color: #007aae;
	display: block;
	width: auto;
	padding: 7px;
	text-align:center;
	font-size:18px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	float: left;
	width: 25%;
}

nav ul li a:hover {
	color: #feffff;
	text-decoration: none;
	background-color:#0095d4;
}

.clearFix {
	clear:both;
	font-size: 1px;
}

/* -------------------- Search divs -------------------- */
.searchDiv {
	width: 100%;
	height: 100px;
	background-color: #4d7e99;
	color: white;

	display: none;
}

.searchDivExtraMargin {
	margin-top: 16px;
}

.searchTitle {
	color: white;
	margin: 0;
	padding: 0;

	position: relative;
	top: 10px;
	left: 16px;
}

.searchInput {
	position: relative;
	top: 25px;
	left: 32px;

	width: 200px;
}

#dateSelectDiv #dateError {
	position: relative;
	left: 45px;
	top: 30px;
	color: red;
}

#dateSelectDiv input[type="text"] {
	width: 70px;
}

/* -------------------- Result divs -------------------- */
.resultDiv {
	width: 800px;
	min-width: 800px;
	height: 780px;
	min-height: 780px;

	/* Fix for div dropping 20px when it has a <h2> in it */
	position: relative;
	top: -20px;
}

#welcome {
	/*text-align: left;*/
}

#result {
	display: none;
}

#result #hotelTitle {
	text-align: center;
}

#result #hotelImage {
	display: block;
	margin: auto;

	position: relative;
	top: -15px;

	border-radius: 25px;
}

#result #hotelDescription {
	position: relative;
	left: 100px;
	top: -22px;
}

.roomPresentation {
	width: 600px;
	height: 180px;
	background-color: #4d7e99;
	border-radius: 25px;
	padding: 10px 0 10px 0;

	margin-left: auto;
	margin-right: auto;
}

.roomPresentation #roomTypeImage {
	border-radius: 25px;
	position: relative;
	left: 10px;
	top: 4px;
}

.roomPresentation #roomTypeTitle {
	position: relative;
	top: -190px;
	left: 190px;
}

.roomPresentation #roomTypeDescription {
	position: relative;
	top: -190px;
	left: 190px;
}

#freeRoomsBox {
	width: 100px;
	height: 100px;
	background-color: #68b187;
	border-radius: 25px;

	position: relative;
	left: 483px;
	top: -260px;
}

#freeRoomsBoxTitle {
	position: relative;
	top: -12px;
	left: -13px;
	font-size: 100%;
}

.roomPresentation #dateTitle {
	display: none;
}

.roomPresentation #numOfAvailableRooms {
	position: relative;
	top: 35px;
	left: 38px;
	font-size: 300%;
}

#order {
	display: none;
}

#orderComplete {
	display: none;
}

#orderComplete #refNr {
	background-color: #d1cfc3;
	font-size: 150%;
}

/* ########################################## Buttons ########################################## */
.smallButton {
	display:inline-block;
	padding:9px 23px;
	
	color:#ffffff;
	background-color:#4d7e99;
	text-decoration:none;
	border:1px solid #241d13;
	
	cursor: pointer;

	/* Unselectable text */
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
.smallButton:hover {
	background-color: #0095d4;
}
.smallButton:active {
	position:relative;
	top:2px;
	left:-1px;
}

.bigButton {
	display:inline-block;
	padding:9px 23px;

	color:#ffffff;
	background-color:#4d7e99;
	text-decoration:none;
	border:1px solid #241d13;

	cursor: pointer;

	/* Unselectable text */
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
.bigButton:hover {
	background-color: #0095d4;
}
.bigButton:active {
	position:relative;
	top:2px;
	left:-1px;
}

#searchButton {
	float: right;
}

#goToOrderButton {
	float: right;
}

#orderButton {
	float: right;
}

/* ########################################## Error warning div ##########################################*/


#searchDateError {
	display: none;
	position: relative;
	top: -627px;
	left: -10px;

	opacity: 0.68;
}

#searchDateErrorTriangle {
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-right: 50px solid red;
	border-bottom: 30px solid transparent;

	position: relative;
	top: 80px;
	left: -45px;
}

#searchDateErrorMessage {
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	width: 300px;
	height: 100px;
	background-color: red;
	border-radius: 12px;
	padding: 10px;

	word-wrap: break-word;
}