<!-- Beginning of start.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Perfect Hotel Premium</title>
        <link rel="stylesheet" type="text/css" media="screen" href="css/nettsted.css" />

        <meta charset="UTF-8">
    </head>

    <body>

    <div id="mainContainer">

        <div id="header">
            <h1 style="position:absolute; left: 475px; top: 28px; height: 51px; padding-top: 20px;">Perfect Hotel Premiums</h1>
        </div>

        <div class="navigation">
            <ul>
              <li><a href="index.php">Hjem</a></li>
              <li><a href="../vedlikehold/index.php">Vedlikehold</a></li>
              <li><a href="../vedlikehold/checkin.php">Sjekk inn</a></li>
              <li><a href="../vedlikehold/editorder.php">Endre bestilling</a></li>
            </ul>
        </div>

        <!-- End of start.html -->