<!-- Beginning of start.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Perfect Hotel Premium</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/nettsted.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../nettsted/css/nettsted.css" />
</head>

<body>
<div id="container">

    <div id="pageHeader">
        <h1 style="position:absolute; left: 280px; top: 28px; height: 51px; padding-top: 20px;"><span>Perfect Hotel Premiums</span></h1>
    </div>

    <!-- End of start.html -->